{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>My Blog</h2>
    <p>This is My Blog I've Written {% total_posts %}</p>
    <h3>
      Latest Posts
    </h3>
    {% show_latest_posts 3 %}
    <h4>Poualr Posts</h4>
    {% pouplar_posts 4 as most_posts %}
    <ul>
      {% for post in most_posts %}
      
      <li>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
  </ul>
  </div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>